@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

.container {
    background-color: #83b4c4; /* Un color más suave que el aqua */
    padding: 10px 0;
}

/*Esta es la parte mas importante del proyecto*/

main {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./Imagenes/bosque.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Esta es la parte de los botones de continuar con Google, facebook*/

.botones {
    display: flex;
    flex-direction: column; /* Alinea los hijos verticalmente */
    gap: 10px;              /* Agrega una separación entre cada botón */
    margin-bottom: 20px;    /* Espacio entre los botones y el formulario */
    width: 300px;           /* Para que midan lo mismo que el formulario */
}

.botones button {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
    font-weight: 500;
    width: 100%;            /* Asegura que ocupen todo el ancho del contenedor */
}


.registro {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente para que se vea el texto */
    backdrop-filter: blur(5px);
    border: 2px solid white;
    border-radius: 15px;
    padding: 40px;
    width: 300px;
    text-align: left; /* Alinea los labels a la izquierda */
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}

input {
    width: 100%; /* Que ocupen todo el ancho del cuadro */
    padding: 10px;
    border: 2px solid #c5c5c5;
    border-radius: 8px;
    outline: none;
}

/*Esta es la parte de los botones del registro*/

.btn-registro {
    width: 100%;
    padding: 10px;
    background-color: #83b4c4;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-registro:hover {
    background-color: #6a96a5;
}